<% @title = 'About'%>

<h1>Supported Devices</h1>
Users have reported success with the following devices and software. Please report your success (or failure) stories!

<ul>
	<li>Kindle 1</li>
	<li>Kindle 2</li>
	<li>Kindle 2 International</li>
	<li>Kindle DX</li>
	<li>Kindle DX 2</li>
	<li>Kindle DX 2 International</li>
	<li>Kindle for iPhone/iPad</li>
	<li><i>Unknown: </i>Kindle for Android</li>
</ul>

<h1>About</h1>

<p class="explanation">
	If you wish to DRM-protect your own personal content for distribution-disabled delivery to peers--such as within a classroom or sensitive work setting--you must know Kindle PID numbers for those devices that you wish to be able to open your documents. <strong>This tool is intended to enable secure distribution of your own content ONLY and does NOT provide you with any tools to remove the DRM you apply.</strong> By using this tool you accept all responsibilities of doing so, and recognize that this software comes without any warranty of any kind, whatsoever.
</p>