<div>
	<strong>This serial number "<%= h @serial %>" does not appear to be valid.</strong> Make sure you are entering the 16-character serial number that is specific to your Kindle. (Or 40-character number for the Kindle iPhone application.)
</div>