


<h1>Finding Kindle's Personal ID (PID)</h1>

<p>Your Kindle's serial number is printed on the box that it was packaged in when you received it. If you do not have the box from which to get the serial number:
</p>
<ol>
	<li>From your Kindle's home screen, navigate to the "Settings" page.</li>
	<li>Type "411" (without the quotes). A super secret screen should now appear.</li>
	<li>Submit the 16-digit Kindle <strong>case-sensitive</strong> serial number and personal email address in the form below to instantly calculate the PID number.</li>
</ol>
<p>This form should always work for the iPhone Kindle application.</p>


<% form_remote_tag(:url => {:action => 'calculate_pid'}, :update => "results", :position => :top,
 :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')",
 :html => {:id => 'calculate_pid_form'}) do %>
<div><label>Optional Email</label> <%= text_field "device", "email" %>
</div>
<div><label>Required Serial</label> <%= text_field "device", "serial" %>
</div>
<div><label></label><%= submit_tag 'Calculate' %></div>
<% end %>

<div id="results">
	
</div>


<h1><em>Please</em> Support This Site!</h1>

<p>This site is developed and maintained for <em>free</em> to save your valuable time. Please please <em>please</em> support the site maintainers, Amazon and publishers simultaneously: <a href="http://www.amazon.com/wishlist/10V5YNMG4VOED">donating something from this wish list</a>!</p>

<p><a href="http://www.amazon.com/wishlist/10V5YNMG4VOED">Donate something here!</a></p>

<div id="wishlist">
	<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/prestoncom-20/8004/49cd5000-bb01-497b-b5a4-929909b1af0a"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fprestoncom-20%2F8004%2F49cd5000-bb01-497b-b5a4-929909b1af0a&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>

<h1>About</h1>


<p class="explanation">
	If you wish to DRM-protect your own personal content for distribution-disabled delivery to peers--such as within a classroom or sensitive work setting--you must know Kindle PID numbers for those devices that you wish to be able to open your documents. <strong>This tool is intended to enable secure distribution of your own content ONLY and does NOT provide you with any tools to remove the DRM you apply.</strong> By using this tool you accept all responsibilities of doing so, and recognize that this software comes without any warranty of any kind, whatsoever.
</p>
