<h1><%= @title = "Finding Kindle's Serial Number" %></h1>
Be careful when reading your serial number, as 0 (zero) and O (the letter) are easily confused. All letters should be upper-case.



<h2>Kindle eInk-based Hardware</h2>
<p>
	Your Kindle's serial number is printed on the box that it was packaged in when you received it. If you do not have the box from which to get the serial number:
</p>
<ol>
	<li>From your Kindle's home screen, navigate to the "Settings" page.</li>
	<li>Type "411" (without the quotes). A super secret screen should now appear.</li>
	<li>Submit the 16-digit Kindle <strong>case-sensitive</strong> serial number and personal email address in the form below to instantly calculate the PID number.</li>
</ol>
<p>We have seen mixed reports regarding Kindle 3 support.</p>

<h2>Kindle Fire</h2>
<p>We don't have this hardware. Please post details if you have them.</p>


<h2>iPhone/iPod Touch (40-character ID)</h2>

<h3>If you're on a Mac (vía System Profiler)</h3>
<ol>
	<li>Connect your iPhone or iPod Touch to your computer</li>
	<li>Click on the “Apple” symbol in the left upper corner of your screen</li>
	<li>Click “About this Mac” (-> a small window opens)</li>
	<li>Click the “More Info” button</li>
	<li>Select Hardware -> USB in the left menu bar</li>
	<li>Click on “USB High-Speed Bus in the USB Device Tree and select “iPhone” or “iPod”</li>
	<li>Copy the 40 digit number (hex format)</li>
</ol>

<h3>If you're on a PC/Mac:</h3>
<ol>
<li>Connect your iPhone or iPod Touch to your computer</li>
<li>Start iTunes</li>
<li>Click on your device name (xxx’s iPhone) under the left menu bar “DEVICES”</li>
<li>Click on Summary</li>
<li>Click on “Serial Number” (yes, you have to click literally ON the word serial number, like shown below)</li>
<li>Retrieve the “Identifier”, a 40 digit hex code</li>
</ol>