<h1><%= @title = "Finding Kindle's Serial Number" %></h1>

<h2>Kindle Hardware</h2>
<p>Your Kindle's serial number is printed on the box that it was packaged in when you received it. If you do not have the box from which to get the serial number:
</p>
<ol>
	<li>From your Kindle's home screen, navigate to the "Settings" page.</li>
	<li>Type "411" (without the quotes). A super secret screen should now appear.</li>
	<li>Submit the 16-digit Kindle <strong>case-sensitive</strong> serial number and personal email address in the form below to instantly calculate the PID number.</li>
</ol>

<h2>Kindle for iPhone</h2>
Please submit instructions!